body
{
	font-size:20px;
	font-family:noto
}
div
{
	border:1px solid white;
	text-align:center;
	margin-top:10px;
	padding-top:10px;
	padding-bottom:10px;
}

mark
{
	background:#7373c8;
}
a:link
{
	text-decoration:none;
	color:#7373c8;
}
a:active
{
	color:blue;
}


