h2{
	color:red;
}
#R{
	list-style-type:upper-roman;
}
body{
	font-size:21px;
	font-family:cursive;
}
#one{
	list-style-type:disc;
}
#two{
	list-style-type:square;
}
#three{
	list-style-type:none;
}
#four{
	list-style-type:circle;
}